<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="text-center"><small>Coursera Full Stack Web Development Capstone Project - <em>Tim Perreault</em></small></p>
    </div>
</div>
