<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-hide="$ctrl.isLoggedIn()" href="/" class="navbar-brand"><img src="../../assets/images/logo.svg" alt="Virtual Logbook" height=30 width=30></a>
            <a ng-show="$ctrl.isLoggedIn()" href="/dashboard" class="navbar-brand"><img src="../../assets/images/logo.svg" alt="Virtual Logbook" height=30 width=30></a>
        </div>
        <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-show="$ctrl.isLoggedIn()" ng-repeat="item in $ctrl.menu" ui-sref-active="active">
                    <a ui-sref="{{item.state}}"><span class="{{item.icon}}"></span> {{item.title}}</a>
                </li>
                <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
                <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
                <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
