<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Virtual Logbook</h1>
        <p class="lead">The most essential tool for an accuracy shooter</p>
        <a class="btn btn-lg btn-danger" ui-sref="login">Register</a>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Features:</h1>
            <div class="media">
                <div class="media-left pull-left">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../../assets/images/logo.png" alt="Firearms Collection" height=140 width=250>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><span class="glyphicon glyphicon-list-alt"></span> Firearms Collection</h4>
                    <p>Keep accurate records of all your firearms, ammunition, and optics in one conveniet digital location. </p>
                </div>
            </div>
            <div class="media">
                <div class="media-right pull-right">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../../assets/images/logo.png" alt="Virtual Logbook" height=140 width=250>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><span class="glyphicon glyphicon-screenshot"></span> Virtual Logbook</h4>
                    <p>Every accuracy shooter knows that one of the most vital tools at their disposal is their logbook. This virtual logbook allows you to record all pertinent data about every shot you take. It also connects with your Firearms Catalogue to collect data used for analytics of each of your weapons, loads, and optics.</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left pull-left">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../../assets/images/logo.png" alt="Analytics" height=140 width=250>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><span class="glyphicon glyphicon-stats"></span> Analytics</h4>
                    <p>Powerful analytics let you understand the data you record at each shooting session. Visualize accuracy versus distance with your catalogue of firearms, ammunition, and optics. </p>
                </div>
            </div>
            <div class="media">
                <div class="media-right pull-right">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../../assets/images/mobile.PNG" alt="Mobile Companion" height=140 width=250>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><span class="glyphicon glyphicon-phone"></span> Mobile Companion</h4>
                    <p>When you're in the field, you can still easily enter data using the mobile application, available in Android or iOS.</p>
                </div>
            </div>
        </div>
    </div>
</div>