<div class="container">
    <h1>Catalogue</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#firearms">Firearms</a></li>
        <li><a data-toggle="tab" href="#ammunition">Ammunition</a></li>
        <li><a data-toggle="tab" href="#optics">Optics</a></li>
    </ul>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <a class="btn btn-default" ng-click="catalogueCtrl.toggleAdd()"><span class="glyphicon glyphicon-plus"></span> Add</a>
            <a class="btn btn-default" ng-click="catalogueCtrl.toggleEdit()"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        </div>
        <!-- Firearms -->
        <div class="tab-content">
            <div id="firearms" class="tab-pane fade in active">
                <form name="addFirearmForm" class="form-horizontal" ng-show="catalogueCtrl.addMode">
                    <div class="form-group">
                        <label for="inputMake" class="col-sm-1 control-label">Make</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputMake" placeholder="Manufacturer name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputModel" class="col-sm-1 control-label">Model</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputModel" placeholder="Model name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCaliber" class="col-sm-1 control-label">Caliber</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputCaliber" placeholder="Rifle caliber" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-1 control-label">Name</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputName" placeholder="Rifle name" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <p>All fields are required.</p>
                            <button type="submit" ng-disabled="addFirearmForm.$invalid" class="btn btn-primary" ng-submit="catalogueCtrl.saveNewFirearm()">Save</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form> 
                <table class="table table-striped">
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Caliber</th>
                    </tr>
                    <tr ng-repeat="firearm in catalogueCtrl.userCatalogue | filter: {category: 'firearm'}">
                        <td>{{ firearm.make }}</td>
                        <td>{{ firearm.model }}</td>
                        <td>{{ firearm.caliber }}</td>
                        <td><button ng-show="catalogueCtrl.editingMode" ng-click="catalogueCtrl.deactivateItem(firearm)"><span class="glyphicon glyphicon-remove-sign"></span> </button></td>
                    </tr>  

                </table>
            </div>
            <!--Ammunition-->
            <div id="ammunition" class="tab-pane fade">
                <form name="addAmmunitionForm" class="form-horizontal" ng-show="catalogueCtrl.addMode">
                    <div class="form-group">
                        <label for="inputMake" class="col-sm-1 control-label">Make</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputAmmoMake" placeholder="Manufacturer name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputModel" class="col-sm-1 control-label">Model</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputAmmoModel" placeholder="Model name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAmmoCaliber" class="col-sm-1 control-label">Caliber</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputAmmoCaliber" placeholder="Ammunition caliber" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-1 control-label">Name</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputAmmoName" placeholder="Ammunition name" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <p>All fields are required.</p>
                            <button type="submit" ng-disabled="addFirearmForm.$invalid" class="btn btn-primary" ng-submit="catalogueCtrl.saveNewAmmunition()">Save</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form> 
                <table class="table table-striped">
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Caliber</th>
                    </tr>
                    <tr ng-repeat="ammunition in catalogueCtrl.userCatalogue | filter: {category: 'ammunition'}">
                        <td>{{ ammunition.make }}</td>
                        <td>{{ ammunition.model }}</td>
                        <td>{{ ammunition.caliber }}</td>
                        <td><button ng-show="catalogueCtrl.editingMode" ng-click="catalogueCtrl.deactivateItem(ammunition)"><span class="glyphicon glyphicon-remove-sign"></span> </button></td>
                    </tr>  

                </table>
            </div>
            <!--Optics-->
            <div id="optics" class="tab-pane fade">
                <form name="addOpticsForm" class="form-horizontal" ng-show="catalogueCtrl.addMode">
                    <div class="form-group">
                        <label for="inputOpticMake" class="col-sm-1 control-label">Make</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputOpticMake" placeholder="Manufacturer name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputOpticModel" class="col-sm-1 control-label">Model</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputOpticModel" placeholder="Model name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputOpticName" class="col-sm-1 control-label">Name</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  id="inputOpticName" placeholder="Optic name" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <p>All fields are required.</p>
                            <button type="submit" ng-disabled="addFirearmForm.$invalid" class="btn btn-primary" ng-submit="catalogueCtrl.saveNewOptic()">Save</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form> 
                <table class="table table-striped">
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Name</th>
                    </tr>
                    <tr ng-repeat="optic in catalogueCtrl.userCatalogue | filter: {category: 'optic'}">
                        <td>{{ optic.make }}</td>
                        <td>{{ optic.model }}</td>
                        <td>{{ optic.name }}</td>
                        <td><button ng-show="catalogueCtrl.editingMode" ng-click="catalogueCtrl.deactivateItem(optic)"><span class="glyphicon glyphicon-remove-sign"></span> </button></td>
                    </tr>  

                </table>
            </div>
        </div> <!-- tab content-->
    </div>
</div>
